<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:jdbc="http://www.springframework.org/schema/jdbc"
	xmlns:oxm="http://www.springframework.org/schema/oxm"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:util="http://www.springframework.org/schema/util"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.2.xsd
		http://www.springframework.org/schema/jdbc http://www.springframework.org/schema/jdbc/spring-jdbc-4.2.xsd
		http://www.springframework.org/schema/oxm http://www.springframework.org/schema/oxm/spring-oxm-4.2.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.2.xsd
		http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-4.2.xsd">


    <!-- 配置sqlSessionFactory -->
    <bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
        <!-- 实例化sqlSessionFactory时需要使用上述配置好的数据源以及SQL映射文件 -->
        <property name="dataSource" ref="dataSource" />
        <!-- 自动扫描com.isoft91.*.*.mapper目录下的所有SQL映射的xml文件, 省掉Configuration.xml里的手工配置这样就可以被自动扫描-->
        <property name="mapperLocations" >
          <array>
	         <value>classpath:com/team/finance/*/mapper/*.xml</value>
           </array>
        </property>



        <!-- 该配置用于自动将类全名设置别名，全局别名设置，在映射文件中只需写别名，而不必写出整个类路径
        例如需要在 *Mapper.xml中声明<resultMap>的type属性为 com.isoft.mybatis.entities.User，
        现只需要将type属性设置为User，以类名做为包名+类名的精简别名   -->
        <property name="typeAliasesPackage" value="com.isoft91.*.entity"></property>
        <property name="configurationProperties">
        	<props>
        		<!-- 全局映射器启用缓存  -->
        		<prop key="cacheEnabled">true</prop>
        		<!--  查询时，关闭关联对象即时加载以提高性能  -->
        	   <prop key="lazyLoadingEnabled">true</prop>
        	   <!-- 设置关联对象加载的形态，此处为按需加载字段(加载字段由SQL指定)，不会加载关联表的所有字段，以提高性能 -->
        	   <prop key="aggressiveLazyLoading">false</prop>
        	   <!-- 对于未知的SQL查询，允许返回不同的结果集以达到通用的效果 -->
        	   <prop key="multipleResultSetsEnabled">true</prop>
        	   <!-- 允许使用列标签代替列名 -->
				<prop key="useColumnLabel">true</prop>
				<!-- 允许使用自定义的主键值(比如由程序生成的UUID 32位编码作为键值)，数据表的PK生成策略将被覆盖 -->
				<prop key="useGeneratedKeys" >true</prop>
				<!-- 给予被嵌套的resultMap以字段-属性的映射支持 -->
				<prop key="autoMappingBehavior">FULL</prop>
				<!-- 对于批量更新操作缓存SQL以提高性能 -->
				<prop key="defaultExecutorType">BATCH</prop>
				<!-- 数据库超过25000秒仍未响应则超时 -->
				<prop key="defaultStatementTimeout">25000</prop>
        	</props>
        </property>

    </bean>

    <!-- Mapper接口配置扫描器 -->
	<!-- DAO接口所在包名，Spring会自动查找其下的类 -->
	<bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
		<property name="basePackage" value="com.team" />
		<property name="sqlSessionFactoryBeanName" value="sqlSessionFactory"></property>
	</bean>

	<!-- (事务管理)transaction manager, use JtaTransactionManager for global tx -->
	<bean id="transactionManager"
		  class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
		<property name="dataSource" ref="dataSource" />
	</bean>

</beans>
