<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:util="http://www.springframework.org/schema/util"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.2.xsd
		http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-4.2.xsd
		http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-4.2.xsd
		http://www.springframework.org/schema/websocket">
	
	<!-- 启用注解，并定义组件查找规则 ，mvc层只负责扫描@Controller -->  
    <context:component-scan base-package="com.team.financial" use-default-filters="false">
        <context:include-filter type="annotation"  
            expression="org.springframework.stereotype.Controller" />  
    </context:component-scan>  
    
     <!-- mvc注解驱动 -->
	<mvc:annotation-driven/>
    
    
    <!-- string字符串转换编码设置 -->
     <bean id="stringConverter"
			class="org.springframework.http.converter.StringHttpMessageConverter">
			<property name="supportedMediaTypes">
				<list>
					<value>application/json;charset=UTF-8</value>
					<value>text/plain;charset=UTF-8</value>
					<value>text/html;charset=UTF-8</value>
				</list>
			</property>
		</bean>
		
		
		<!-- json转换器设置，默认将时间转换yyyy-MM-dd，如需要其他格式，请在bean属性中设置@DateTimeFormat属性   -->
<!--	     <bean id="jsonConverter" class="org.springframework.http.converter.json.MappingJackson2HttpMessageConverter">
	     	<property name="objectMapper">
                <bean class="com.fasterxml.jackson.databind.ObjectMapper">
                    <property name="dateFormat">
                        <bean class="java.text.SimpleDateFormat">
                            <constructor-arg type="java.lang.String" value="yyyy-MM-dd HH:mm:ss"/>
                        </bean>
                    </property>
                    <property name="timeZone" value="GMT+8" />
                </bean>
            </property>
	     </bean>-->
	    
	 <mvc:default-servlet-handler /> 
	
	 <!-- 公共静态资源 -->
	 <mvc:resources mapping="/common/img/**"   location="/WEB-INF/view_core/view_resources/common_resources/img/" />
	 <mvc:resources mapping="/common/css/**"   location="/WEB-INF/view_core/view_resources/common_resources/css/" />
	 <mvc:resources mapping="/common/js/**"	location="/WEB-INF/view_core/view_resources/common_resources/js/" />
	 
 	<!-- 扩展静态资源 -->
	 <mvc:resources mapping="/page/**"   location="/WEB-INF/view_core/view_resources/page_resources/" />
 	
		
 
 
		<!-- 配置视图解析器 -->
	<bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<property name="contentType" value="text/html; charset=UTF-8"/>
		<property name="prefix" value="/WEB-INF/view_core/view_page/production/"></property>
		<property name="suffix" value=".jsp"></property>
	</bean>
	
        
        <!-- 定义文件上传处理器 -->  
    <bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
	    <property name="maxUploadSize" value="50097152"></property>   
	    <property name="defaultEncoding" value="UTF-8"></property>  
    </bean>
    
    
    	<!-- 根据项目前端控件选择情况声明转换器，详见com.isoft91.web.base.pager.分页一体化组件扩展开发说明 -->
    <!--<bean class="com.isoft91.web.base.pager.ui.dlsw.DLSWGridConverter"></bean>-->


   
	<!--配置拦截器, 多个拦截器,顺序执行-->
 	<!--<mvc:interceptors>
		&lt;!&ndash; 对所有请求都拦截，公共拦截器可以有多个 &ndash;&gt;
        &lt;!&ndash; <bean name="integralInterceptor" class="com.isoft91.space.util.IntegralInterceptor" />  &ndash;&gt;
		&lt;!&ndash; 当设置多个拦截器时，先按顺序调用preHandle方法，然后逆序调用每个拦截器的postHandle和afterCompletion方法 &ndash;&gt;
	    &lt;!&ndash; 多个拦截器，顺序执行 &ndash;&gt;
        &lt;!&ndash; 积分拦截器，访问设置的请求后,执行积分规则 &ndash;&gt;
         <mvc:interceptor>
                 <mvc:mapping path="/**"/>
                 <mvc:exclude-mapping path="/common/**"/>
                 <mvc:exclude-mapping path="/page/**"/>
			 	 <mvc:exclude-mapping path="/view/login/register"/>
                 &lt;!&ndash;<mvc:exclude-mapping path="/view/**"/>&ndash;&gt;
                 <mvc:exclude-mapping path="/notification/detail**"/>
                 <bean class="com.isoft91.space.util.LoginInterceptor"></bean>
         </mvc:interceptor>

 	</mvc:interceptors>-->

	
	
</beans>
